@tailwind base;
@tailwind components;
@tailwind utilities;

._root_q4qtx_8 {
  position: relative;
  width: 360px;
  height: 640px;
  align-items: flex-start;
  background-color: #373640;
  overflow: hidden;
  }

  